<div class ="_WINDOW error  " id ="confirmationwindow" align=center>
    <div class=' winoperations _NO_MINIMIZE '>
        <div class ='_close'>
            X
        </div>
        &nbsp;
    </div>
    <br>
    <h1>Confirmation:</h1>
 
	 <br>
	 	 <%=@message%>

    <br>    <br>
 <input type="button" class = "_close" name="Close" value="Close">
</div>