<div class='  _MINIMIZE '>   
<div > 
    <form class = "_form_facet" >
        <input id='facetname' type=="text" value ="" size='11' name= "value"/><input type="submit" value="Create Facet">
	
    </form>
</div>
    <Br>
</div>
