<div class = " _WINDOW  node literal querybuilderresource "  resource="<%=(uri(RDFS::Resource.new('http://www.w3.org/2002/07/owl#DatatypeProperty'))) %>"   >
    <input type = 'text' onKeyUp='setLiteralValue(this)'; />    
</div>
              